#myMap {
  height: 80%;
  width: 100%;
}

#map_container {
  padding: 15px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.directionsContainer{
    width:100%;
    height:100%;
    overflow-y:auto;
    float:left;
}

.bmapMenuControl{
  padding-top: 15px;
  height: 69vh;
}

#directionsPanel, #directionsItinerary, .directionsPanel{
  width: 100% !important;
}

.dirAddBtn, .dirBtnTime{
  display: none !important;
}