#myMap {
  height: 100%;
  width: 100%;
}

.map_container {
  padding: 15px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

#directionsItineraryContainer{
  display: block;
  max-height: 600px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#directionsItinerary{
}

#searchContainer{
}

#mapControlResults{
  display: none;
}

#mapControlMainMenu{
  display: block;
}