.option_panel{
  text-align: center;
}


/*
#Menu{
  margin-top: 10vh;
  display: block;
}

#Menu div {
  padding-top: 1vh;
  padding-left: 50px;
}

#menu li {
  margin: 20px;
}

/* Style the tab content 
.tabcontent {
    display: none;
}

#menu_body {
  padding-top: 12vh;
}


#transportModeBtns > button{
  width: 25%;
  color: white;

}

#transportModeBtns > button.active{
  color: #343a40;
  background-color: #E2E6EA;
}

.address_text {
  width: 100%;
  overflow: hidden;
}

.address_text.active {
  background-color: #218838 !important;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.5;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

*/