body {
 height: 100vh; 
}

#body_div {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#content_div {
  flex-grow : 1;
  display: flex;
  padding: 0;
}

#control_div{
  background-color: cyan;
 // width: 33%;
  width: 0%;
  overflow: hidden;
  padding: 0px;
  padding-top: 20px;
}

#panel_div{
  flex-grow : 1;
  background-color: yellow;
  overflow: hidden;
  padding: 15px;
  padding-right: 0;
}

.panel{
  display: none;
  float: right;
  width: 0%;
}

.panel.active{
  display: block;
}

.control{
  display: none;
  float: left;
  width: 0%;
  height: 100%;
}

.control.active{
  display: block;
}

.indexPanel{
  text-align: center;
  width: 100%;
}

.address_text.active{
  background-color: green !important;
}