body {
 height: 100vh; 
}

.flex{
  display: flex;
}

#body_div {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#content_div {
  flex-grow : 1;
  display: flex;
  padding: 0;
}

#control_div{
 // width: 33%;
  width: 0%;
  overflow: hidden;
  padding: 0px;
  padding-top: 20px;
}

#panel_div{
  flex-grow : 1;
  overflow: hidden;
  padding: 15px;
  padding-right: 0;
}

.panel{
  display: none;
  float: right;
  width: 0%;
  height: 100%;
}

.panel.active{
  display: block;
}

.control{
  display: none;
  float: left;
  width: 0%;
  height: 100%;
}

.control.active{
  display: block;
  padding: 20px;
}

.indexPanel{
  text-align: center;
  width: 100%;
}

.address_text.active{
  background-color: green !important;
}

.btn_mode_group button{
  flex-grow: 1;
}

.btn_mode_group button.active{
  background-color: white !important;
  color: black !important;
}

.select_point span{
  flex-grow: 1;
  overflow: hidden;
}

.select_point span.active{
  background-color: green !important;
}

.disabled{
  pointer-events:none;
  opacity: 0.6;
}

.menu_return{
  padding-bottom: 20px;
}

.menu_return button{
  flex-grow: 1;
}

.pushpin_control button{
  flex-grow: 1;
}

h1 {
    color: black;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: black;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.panellink{
  font-family: Roboto;
}

.panellink:hover {
    text-decoration: underline;
    cursor: pointer;
}