/*General---------------------------------------------*/
body {
    background-image: url(image-path("index/indexImage.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
}


/*About Us---------------------------------------------*/