body, html {
    height: 100%;
    margin: 0;
}

#body_div{
    background-image: url(image-path("index/homeImage2.jpg"));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
