/*General---------------------------------------------*/
body {
    background-image: url(image-path("index/indexImage.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;
}

/*Screen1---------------------------------------------*/
h1 {
    margin: 0;
    padding-top: 12%;
    font-size: 10vw;
    font-family: 'Raleway', sans-serif;
}

#mainText {
    margin: 0;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
}

#btnr {
    margin-top: 40px;
}
#btnt {
    margin-top: 40px;
}

