body {
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 8%;
    font-size: 10vw;
    font-family: 'Raleway', sans-serif;
}

#mainText {
    margin: 0;
    margin-bottom: 5%;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
}

.startButton {
    color: white;
    margin-top: 30%;
    background-color: #1E1E1F;
    border-color: #1E1E1F;
    border-radius: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.6vw;
    font-family: 'Open Sans', sans-serif;
}

.startButton:hover {
    color: white;
    text-decoration: none;
    font-size: 1.7vw;
}

