<% content_for :header do -%>
<% end -%>

<%= stylesheet_link_tag 'Navbar/whitenavtoggler', 'Maps/map' %>

<div class="row">
	<div class="col-sm-4">
    
  <%= react_component("maps/OptionsMenu") %>
	</div>
	<div class="col-sm-8">
    <div id="map-container">
      <div id="map"></div>
    </div>
	</div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOL77h63YMvrMDxXl5q3eWq_JQ7sLQc1E&callback=initMap" async defer></script>