<%= stylesheet_link_tag 'maps/map', 'maps/gmap','app_navbar/black_theme' %>

<div class="control_panel">
  <div class="option_panel">
      <h1 id="indexSection" class="option active">¿Que Buscas?</h1><br/>
      <p id="planningSection" class="option">Planear Ruta</p>
      <p id="interesSection" class="option">Sitios de interes</p>
      <p id="lastNewsSection" class="option">Ultimos acontecimientos</p>
    </div>
</div>

<script type="text/javascript">
  map_init();
</script>
<script src=<%=@google_api_src+"&callback=initMap"%>></script>
