<%= stylesheet_link_tag 'maps/map','maps/bmap','app_navbar/black_theme' %>

<div id="control_div">
  <div class="control indexControl active">
  </div>
  <div class="control mapControl">
    <h2 >Planea tu ruta</h2>
      <br>
      <div class="flex menu_return">
        <button class="btn btn-dark mr-1" id="map_resetBtn" onclick="javascript:void(0)" >Reiniciar</button>
        <button class="btn btn-dark md-1" onclick="setSection('index')" >Menu</button>
      </div>
      <div class="bmapMenuControl">
        <div class="directionsContainer">
          <div id="directionsPanel"></div>
          <div id="directionsItinerary"></div>
        </div>
      </div>
  </div>
  <div class="control interestControl">
    <h2>Seccion de Interes</h2>
      <button class="btn btn-dark btn-block" onclick="setSection('index')" >Menu</button>
  </div>
  <div class="control newsControl">
    <h2>Seccion de Novedades</h2>
      <button class="btn btn-dark btn-block" onclick="setSection('index')" >Menu</button>
  </div>
</div>


<div id="panel_div">
  <div class="panel indexPanel active">
      <h1>¿Que Buscas?</h1><br />
      <p id="RouteLink" class="panellink" onclick="setSection('map')">Planear Ruta</p>
      <p id="InteresLink" class="panellink" onclick="setSection('interest')">Sitios de interes</p>
      <p id="NewsLink" class="panellink" onclick="setSection('news')">Ultimos acontecimientos</p>
  </div>
  <div class="panel mapPanel">
    <div id="map_container">
      <div id="myMap"></div>
    </div>
  </div>
  <div class="panel interestPanel">
    <h2>Panel de Interes</h2>
  </div>
  <div class="panel newsPanel">
    <h2>Panel de Novedades</h2>
  </div>
</div>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=getMap' async defer></script>
<script>
var map;

function loadMap(){
    map = new $window.Microsoft.Maps.Map(document.getElementById('mapDiv'), {
        credentials: 'My credential',
        mapTypeId: Microsoft.Maps.MapTypeId.road,
        animate: true,
        showDashboard: !$scope.readOnly,
        useInertia: false,
        enableSearchLogo: false,
        enableClickableLogo: false,
        showCopyright: false
    });
}
</script>