/*General---------------------------------------------*/
body {
    background-image: url(image-path("index/indexImage.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;

    height: 100vh;
}

#top_navbar {
    background-color: transparent !important;
}