body, html {
    height: 100%;
    margin: 0;
    text-align: center;
}

#body_div{
    background-image: url(image-path("tips/selectImage.png"));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

h1 {
    margin-top: 10vh;
    font-size: 10vh;
}

#icons-col{
    padding-top: 5vh;
}

#optionsButton {
    color: black;
}

#logo {
    color: black;
}

.overlay {
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1);}

.overlay .closebtn {
    color: white;
}

#Mov_btn{
    font-size: 20vh;
    text-align: center;
    color: black;
}