.flex{
    display: flex;
}

body {
     height: 100vh; 
     overflow-x: hidden;
}

#body_div{
    height: 100%;
    flex-flow: column;
    display: flex;
}

#content_div{
    flex-grow : 1;
    display: flex;
    padding: 0;
    align-items: stretch;
}

#fullpage{
    height: 100%;
    flex-grow : 1;
}

#tipsImage {
    margin-top: 5%;
    margin-left: -80%;
    border-radius: 50%;
    height: 120vh;
    width: 175%;
    object-fit: cover;
}

.firstRow {
    margin-top: 0%;
}

.infoRow {
    margin-left: 5%;
}

.infoCol {
    padding: 5%;
    padding-right: 4%;
    padding-bottom: 0%;
    width: 45%;
}

p {
    text-align: justify;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
}