<%= stylesheet_link_tag 'users/form'%>
<div class="row">
    <div class="col-sm">
      <h1 align="center">Editar Usuario</h1>
    </div>
</div>

<%= render 'form' %>
<%= render 'passwords' %>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <br />
      <%= link_to 'All users', users_path, class: "btn btn-dark btn-block" %>
    </div>
    <div class="col-sm"></div>
</div>

<script>
    users_init();
</script>
