<%= stylesheet_link_tag 'Pages/index', media: 'all' %>

<div class="row justify-content-md-center align-items-center">
    <div class="col bodyPage">
        <p>Seleccione una opcion</p>
        <a id="btnr" href="/maps/map" class="btn btn-lg btn-secondary" >Mapa</a>
        <a id="btnt" href="/tips/selection" class="btn btn-lg btn-secondary" >Tips</a>
    </div>
</div>
