<!DOCTYPE html>
<html>
  <head>
    <title>Bogota Segura</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <%= stylesheet_link_tag 'index', media: 'all' %>
  </head>
  <body >
          <div class="row justify-content-md-center align-items-center">
              <div class="col bodyPage">
                  <p>Seleccione una opcion</p>
                  <a id="btnr" href="/maps/map" class="btn btn-lg btn-secondary" >Mapa</a>
                  <a id="btnt" href="/tips/selection" class="btn btn-lg btn-secondary" >Tips</a>
              </div>
          </div>
  </body>
</html>