<!DOCTYPE html>
<html>
  <head>
    <title>Bogota Segura</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <%= stylesheet_link_tag 'index', media: 'all' %>
  </head>
  <body >
      <!-- Page Content -->
        <!--Screen1----------------------------------------------->
          <div class="row justify-content-md-center align-items-center">
              <div class="col bodyPage">
                  <h1>Bogota Segura</h1>
                  <h2 id="mainText">Muevete seguro por la ciudad</h2>
                  <a id="btn1" href="pages/home" class="btn btn-lg btn-secondary" >Ir a la aplicacion</a>
              </div>
          </div>
  </body>
</html>