/*Menu-----------------------------------------*/
#optionsButton {
    color: white;
}

#logo {
    color: white;
}

.overlay {
    background-color: rgb(250,250,2500); /* Black fallback color */
    background-color: rgba(250,250,250, 1);}

.overlay .closebtn {
    color: black;
}