h1 {
    color: black;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
}

label {
    font-weight: bold;
}

//Boton de upload
#avatar_upload_btn{
    display: none;
}

#pic_preview {
    cursor:pointer;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    overflow: hidden;
}


@media only screen and (max-width: 575px) {
}