#login_btn, #signup_btn{
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 5px;
}

.btn-group{
    width: 100%;
}

h1 {
    color: black;
    padding-bottom: 2%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}