#login_btn, #submitButton {
    width: 100%;
}

h1 {
    color: black;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
}

.field_with_errors { display: inline; }