/*General---------------------------------------------*/
body {
    background-image: url(image-path("index/indexImage.png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.bodyPage {
    width: 100%;
    height: 90vh;
}

#top_navbar {
    background-color: transparent !important;
}


/*About Us---------------------------------------------*/