h1 {
    color: black;
    padding-bottom: 2%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
}

#user_list_thumb{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.user_list_info span{
    font-size: 20px;
}