h1 {
    color: black;
    padding-bottom: 2%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#user_control{
    width: 100%;
}

#user_control .btn{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}