<%= stylesheet_link_tag 'Navbar/whitenavtoggler' %>

<div class="row">
  <div class="col-sm">
    <h1>¿Como te mueves por Bogota?</h1>
  </div>
  <div class="col-sm">
    <button>A Pie</button>
    <button>Bus</button>
    <button>Carro</button>
    <button>Cicla</button>
  </div>
</div>